.container {
  padding-left: .5rem;
  padding-right: .5rem;
}

.hero{
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.font-subtitle {
  font-family: var(--font-body);
}

.wi-title-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    h3, p {
        font-size: var(--text-4xl);
    }

    p {
        margin-left: .5rem;
    }
}

