.container {
  padding-left: .5rem;
  padding-right: .5rem;
}

.hero{
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.font-subtitle {
  font-family: var(--font-body);
}

.wi-title-container, .wi-title-container-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    h3, p {
        text-transform: capitalize;
    }

    h3 {
      margin-bottom: -10px;
    }

    p {
        margin-left: .5rem;
    }
}

.wi-title-container{
  h3, p {
    font-size: var(--text-4xl);
  }
}

.wi-title-container-info{
  h3, p {
    font-size: var(--text-2xl);
  }
}

.wi-gallery-images{
  min-height: 200px;
  a{
    img {
      height: 100px;
      width: 100%;
      object-fit: cover;
      transition: transform 0.15s ease, opacity 0.15s ease;
    }

    img:active {
        transform: scale(0.95);
    }
  }
}

.fade-in {
    opacity: 0;
    transform: translateY(8px);
    transition: opacity 1s ease, transform 1s ease;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

.PhotoView-Slider__Backdrop {
    background: #000000b5 !important;
}

.wi-googleMaps {
  iframe {
    width: 100%;
    height: 561px;
  }
}

