@import "tailwindcss";

@theme {
  --color-primary: #003060;
  --color-secondary: #e1bf83;
  --color-gray: #b9b9b9;
  --color-gray: #313030;
  --font-heading: "Alex Brush", cursive;
  --font-body: "Libre Baskerville", serif;
  --text-2xl: 1.5rem;
  --font-btn-size: 1rem; 
}

