@import "tailwindcss";

@theme {
  --color-primary: #003060;
  --color-secondary: #f5efe8;
  --font-heading: "Alex Brush", cursive;
  --font-body: "Libre Baskerville", serif;
  --text-2xl: 1.5rem;
}

