@import "tailwindcss";

@theme {
  --color-primary: #003060;
  --color-secondary: #f5efe8;
  --font-heading: "Alex Brush", cursive;
  --font-body: "Libre Baskerville", serif;
}

body{
  margin: 0;
}

section{
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f5f5f5;
}

.container {
  padding-left: .5rem;
  padding-right: .5rem;
}

.hero{
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

p {
  font-family: var(--font-body);
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-heading);
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}

.subtitle {
  font-family: var(--font-body);
}